{{#each favoriteList.items as |item|}}
  <span class="glyphicon glyphicon-star-empty"></span>
  {{item.author}} | {{item.query}}
  <button class="btn btn-danger" {{action 'removeFromFavs' item}}>remove from favs</button>
  <hr>
{{/each}}
