<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <a href="/">
      <div class="navbar-header">
        <a class="navbar-name"> </a>
      </div>
    </a>
  </div>
</nav>
<div class="jumbotron" id="mainpage">
  {{outlet}}
</div>
