<div>
  <h1>What do you want to know?</h1>
  <h3>Questions:</h3>
  {{#each model as |question|}}
  {{answer-number question}} {{question-tile question=question update="update" deleteQuestion="deleteQuestion"}}
  {{/each}}
</div>
<div>
  {{new-question saveQuestion="saveQuestion"}}
</div>
